<!DOCTYPE html>
<html lang="en">

<head>

    <title>Progile Page</title>
    <style>
        h1{
            color: darkslategray;
        }
    </style>
</head>

<body>
    <h1>Profile page</h1>

    <!-- Importing file and using here -->
    <%- include('common/header') %>


    

</body>

</html>